.footer {
   & {
      padding: 64px 0;
   }

   &-title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 43px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: var(--title-color);
      margin-bottom: 16px;
   }

   &-info {
      font-size: 16px;
      line-height: 160%;
   }

   &-info:first-of-type {
      margin-bottom: 8px;
   }
   &-info:last-of-type {
      margin-bottom: 40px;
   }

   &-info-link {
      color: var(--title-color);
      border-bottom: 1px solid var(--link-color);
      padding-bottom: 1px;
   }

   &-wraper-social {
      display: flex;
      gap: 32px;
      align-items: center;
      margin-bottom: 64px;
   }

   &-wraper-social img {
      width: 32px;
   }

   &-wraper-social-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      transition: background-color ease-in 250ms;
      border-radius: 50%;

      &:hover {
         background-color: #222;
      }
   }

   &-rights {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      margin-top: 80px;
   }

   &-rights.desk {
      display: none;
   }

   @media (min-width: $desktop-res) {
      &-wraper {
         display: flex;
         justify-content: space-between;
      }

      &-title {
         font-size: 76px;
      }

      &-info {
         font-size: 18px;
         line-height: 150%;
      }

      &-rights.mob {
         display: none;
      }

      &-rights.desk {
         display: block;
      }

      &-wraper-contacts {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
   }
}
