:root {
   --font-family: "Manrope", sans-serif;
   --second-family: "Bebas Neue", sans-serif;
   --third-family: "Inter", sans-serif;
   --font3: "Roboto", sans-serif;
   --link-color: #d3e97a;
   --text-color: #c7c7c7;
   --border-color: #484848;
   --title-color: #fff;
   --element-background: #1a1a1a;
}

$tablet-res: 768px;
$desktop-res: 1280px;
